@media all and (max-width: 600px) {
    #idea-board .idea-col-date,
    #idea-board .idea-col-author,
    #idea-board .idea-col-hit {
        display: none;
    }

    #idea-board .idea-search-form {
        width: 100%;
    }

    #idea-board .idea-search-form #searchType,
    #idea-board .idea-search-form #searchValue {
        width: 100%;
        box-sizing: border-box;
        display: block;
        float: none;
        clear: both;
    }

    #idea-board .idea-search-form #searchType {
        margin-bottom: 5px;
        width: 100%;
    }

    #idea-board .idea-search-form input[type="submit"] {
        margin-top: 5px;
        width: 100%;
    }

    #idea-board .NFI-wrapper {
        width: 100%;
    }

    #idea-board .idea-block-middle {
        width: 100%;
    }

    #idea-board #idea-board-comment-form p,
    #idea-board #idea-board-comment-form input {
        width: 100%;
        clear: both;
    }

    #idea-board #idea-board-comment-form label {
        margin-left: 0;
    }

    #idea-board .idea-board-meta ul li {
        width: 100%;
        padding: 0;
        margin: 3px 0;
        border: none;
    }
}