@media all and (max-width: 600px) {
    #idea-board .idea-col-date,
    #idea-board .idea-col-author,
    #idea-board .idea-col-hit {
        display: none;
    }

    #idea-board .idea-search-form {
        width: 100%;
    }

    #idea-board .idea-search-form #searchType,
    #idea-board .idea-search-form #searchValue {
        width: 100%;
        box-sizing: border-box;
        display: block;
        float: none;
        clear: both;
    }

    #idea-board .idea-search-form #searchType {
        margin-bottom: 5px;
        width: 100%;
    }

    #idea-board .idea-search-form input[type="submit"] {
        margin-top: 5px;
        width: 100%;
    }

    #idea-board .NFI-wrapper {
        width: 100%;
    }

    #idea-board .idea-block-middle {
        width: 100%;
    }

    #idea-board-comment-form .comment-form-url,
    #idea-board-comment-form .comment-form-author,
    #idea-board-comment-form .comment-form-email {
        width: 100%;
    }

    #idea-board-comment-form .comment-form-url input,
    #idea-board-comment-form .comment-form-author input,
    #idea-board-comment-form .comment-form-email input {
        width: 100%;
    }

    #idea-board-comment-form .comment-form-url label,
    #idea-board-comment-form .comment-form-author label,
    #idea-board-comment-form .comment-form-email label,
    #idea-board-comment-form .comment-form-comment label {
        margin-left: 0;
    }
}