#dashboard-widgets-wrap.idea-board-meta-boxes table {
    width: 100%;
}

#dashboard-widgets-wrap.idea-board-meta-boxes table td {
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#idea-board-dash-board .idea-board-sns-list {
    overflow: hidden;
}

#idea-board-dash-board .idea-board-sns-list li {
    float: left;
    margin-right: 15px;
}

#idea-board-dash-board .idea-board-sns-list a {
    font-size: 50px;
    line-height: 50px;
}